*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
}
header{
    color:white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(26, 18, 78);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    color:white;
}
nav ul li a:hover{
    background-color: blueviolet;
    font-weight: bold;
    font-size: larger;
    transform: scale(1.3);
}
nav ul li a{
    text-decoration: none;
    color:#00ff88;
    transition: all 0.3s ease;
}
.left{
    font-size: 2rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.leftSection{
    font-size: 3rem;
    margin: 0;
    width: 50%;
}
.rightSection{
    text-align: center;
    width: 40%;
    margin-top: 80px;
}
.rightSection img{
    
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    border: 5px


}
.namecolor{
    color:#00ff88
}
.footer{
    text-align: center;
    background-color: rgb(26, 18, 78);
}
.footer a{
    text-decoration: none;
    color:#00ff88;
    transition: all 0.3s ease;
}

b{
    font-size: larger;
}
.motivation{
    padding: 120px 20px;
    background: linear-gradient(135deg, #000428, #004e92);
    text-align: center;
    margin: 50px 0;
}
.container{
    max-width: 900px;
    margin: auto;
    padding: 60px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    border:3px solid #00ff88;
    box-shadow: 0 0 40px rgba(0,255,136,0.4);
}
.quote{
    font-size: 2.4rem;
    line-height: 1.6;
    margin-bottom: 20px;
    font-style: italic;
}
.author{
    font-size:1.6rem;
    color:#00ff88;
    margin: 20px 0;
    
}
a{
    color: black;
}
.about-text{
    font-size: larger;
    color: white;

}
.languages {
    margin-top: 70px;
}
.languages h2 {
    font-size: 2rem;
    color: #00ff88;
    margin-bottom: 30px;
}
.lang-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.6rem;
}
.lang-box{
    background: rgba(0, 255, 136 , 0.1);
    padding: 30px 50px;
    border-radius: 20px;
    width: 200px;
    transition: all 0.4 ease;
    box-shadow: 0 0 40px rgba(0,255,136,0.3);
    text-align: center;
    margin-bottom: 30px;
}
.lang-box:hover{
    background:#00ff88;
    color: black;
    font-weight: bold;
    transition: scale(1.3);
}
.tools {
    margin-top: 70px;
}
.tools h3{
    font-size: 2rem;
    color: #00ff88;
    margin-bottom: 30px;
}
.tools-list{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.6rem;

}
.tool-box{
    background: rgba(0, 255, 136 , 0.1);
    padding: 30px 50px;
    border-radius: 20px;
    width: 200px;
    transition: all 0.4 ease;
    box-shadow: 0 0 40px rgba(0,255,136,0.3);
    text-align: center;
    margin-bottom: 30px;

}
.tool-box:hover{
    background: #00ff88;
    color: black;
    font-weight: bold;
    transition: scale(1.3);
}
.aboutme h1{
    font-size: 5rem;
}
.projects h1{
    font-size: 5rem;
    text-align: center;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(340px, 1fr));
    gap: 40px;
}
.projects-box{
    background: rgba(0, 0, 0 , 0.7);
    padding: 35px;
    border-radius: 25px;
    border: 3px solid #00ff88;
    transition: all 0.4 ;
    box-shadow: 0 0 30px rgba(0,255,136,0.3);
}
.projects-box:hover{
    background: rgb(63, 148, 148);
    color: black;
    font-weight: bold;
    transition: scale(1.3);
}
.project-title{
    font-size: 2rem;
    color: #00ff88;
    margin-bottom: 15px;
}
.contact{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
.contact-box{
    max-width: 900px;
    background: rgba(0, 0, 0 , 0.7);
    padding: 80px 40px;
    border-radius: 30px;
    border: 3px solid #00ff88;
    box-shadow: 0 0 60px rgba(0,255,136,0.3);
    text-align: center;
}
.contact-form {
    max-width: 700px;
    margin: 80px auto;
    padding: 60px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 30px;
    border: 3px solid #00ff88;
    box-shadow: 0 0 50px rgba(0,255,136,0.5);
    text-align: center;
}
.input-group {
    margin: 25px 0;
}
.input-group input, .input-group textarea{
    width: 100%;
    padding: 18px;
    border-radius: 20px;
    border:2px solid #00ff88;
    background: rgba(0, 0, 0 , 0.5);
    color: white;
    font-size: 1.3 rem;
    outline: none;
    transition: 0.3s;
}
.input-group input:focus, .input-group textarea:focus{
    border-color: #00d0ff;
    box-shadow: 0 0 2px rgba(0, 208, 155 , 0.5);
}
.send-btn{
    background: #00ff88;
    color: black;
    padding: 18px 60px;
    border:none;
    border-radius: 60px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}
.send-btn:hover{
    transform: scale(1.1);
    background:#00cc66;
}
.contact h1{
    font-size: 10 rem;
    margin-bottom: 40px 0;
}
.text {
    font-size: 5rem;
    line-height: 1.9;
    margin: 40px 0;
    color: #ddd;
}
.email-btn{
    background: #00ff88;
    color: black;
    padding: 22px 80px;
    border-radius: 60px;
    font-weight: bold;
    font-size: 2rem;
    margin: 40px 0;
    transition: 0.3s;
    display: inline-block;
}
.email-btn:hover{
    transform: scale(1.1);
    background: #00cc66;
}
.email{
    font-size: 2rem;
    color:#00ff88;
    margin: 50px 0;
}