*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
}
header{
    color:white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(26, 18, 78);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    color: white;
}
nav ul li :hover{
    background-color: blueviolet;
}
.left{
    font-size: 2rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.leftSection{
    font-size: 3rem;
    margin: 0;
    width: 50%;
}
.rightSection{
    text-align: center;
    width: 40%;
    margin-top: 80px;
}
.rightSection img{
    
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    border: 5px


}
.purple{
    color: rgb(26, 18, 78)
}
.footer{
    text-align: center;
    background-color: rgb(26, 18, 78);
}
b{
    font-size: larger;
}
