*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
}
header{
    color:white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(26, 18, 78);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    color: white;
}
.left{
    font-size: 2rem;
}
.firstSection{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.leftSection{
    font-size: 3rem;
    margin: 70px;
    width: 50%;
}
.rightSection{
    text-align: center;
    width: 50%;
}
.rightSection img{
    width:90%;


}
.purple{
    color: rgb(26, 18, 78)
}